<div class="landing-container" style="background-image: url(Arts.png);">
    <div class="overlay">
      <h1 class="headline1">Arts Courses</h1>
      <p class="text">The Arts have always been a vibrant reflection of culture, 
        society, and individual expression. From traditional fine arts to digital media, 
        students are increasingly embracing this field to explore new ways of storytelling 
        and creative communication. Discover the shifting trends in arts education and 
        how a new generation is redefining creativity in the modern world.</p>
    </div>
  </div>
  
  <br><br>
  <div class="content"><br>
    <h1 class="headline">Engineering and Gender</h1>
    <p class="paragraph2">
      A look into which engineering disciplines men and women have been gravitating towards over the past ten years
    </p>
    <div>

      <br>

<app-scroll-view></app-scroll-view>
