.header {
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-size: cover;
  background-blend-mode: overlay;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  margin-left: 12px;
  max-height: 30px;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  font-size: 18px;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #3daeeb;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}

@media screen and (max-width: 900px) {

  .logo img {
    margin-left: 12px;
    margin-top: 5px;
    max-height: 23px;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
    text-align: center;
  }

  .hamburger {
    margin-right: 15px;
    display: flex;
  }
}

