<div class="landing-container" style="background-image: url(science.jpeg);">
    <div class="overlay">
      <h1 class="headline">Science Courses</h1>
      <p class="text">Science continues to captivate curious minds, 
        driving them to uncover the mysteries of our world and beyond. 
        With advancements in research and technology, students are 
        drawn to this field in ever-evolving numbers, eager to contribute 
        to discoveries that could change our understanding of life itself. 
        Delve into the trends shaping the future of scientific exploration and inquiry.</p>
    </div>
  </div>
  
  <app-scroll-view3></app-scroll-view3>
