<div class="landing-container" style="background-image: url(vocational.jpg);">
    <div class="overlay">
      <h1 class="headline1">Vocational Courses</h1>
      <p class="text">Vocational education is on the rise as students seek practical, 
        hands-on training that directly translates into career opportunities. 
        From technical skills to specialized trades, vocational courses are increasingly popular, 
        providing a direct pathway to employment in a rapidly changing job market.</p>
    </div>
  </div>
  
  <br><br>
  <div class="content"><br>
    <h1 class="headline">Engineering and Gender</h1>
    <p class="paragraph2">
      A look into which engineering disciplines men and women have been gravitating towards over the past ten years
    </p>
    <div>

      <br>

<app-scroll-view></app-scroll-view>
