<div class="landing-container" style="background-image: url(engineering.jpg);">
    <div class="overlay">
      <h1 class="headline1">Engineering courses</h1>
      <p class="text">Engineering has long been the cornerstone of innovation, 
        attracting students eager to design, construct, and improve the world around us. 
        Over the years, the number of students pursuing engineering has evolved, 
        reflecting changes in industry demands, technology, and global challenges. 
        Explore how this dynamic field continues to shape the minds of future problem solvers.</p>
    </div>
  </div>
<br><br>
    <div class="content"><br>
      <h1 class="headline">Engineering and Gender</h1>
      <p class="paragraph2">
        A look into which engineering disciplines men and women have been gravitating towards over the past ten years
      </p>
      <div>
<br>
<app-scroll-view></app-scroll-view>